body{
	background-color: #D1D1D1;
}
#header-nav{
	background-color: #F3E514;
	border-radius: 0;
	border: 0;
}

#food-llc-logo{
	
}

.navbar-brand h1{
	font-family: impact, arial, serif;
	font-weight: bold;
	color: #EC2727;
	/*font-size: 2em;*/
	/*margin-top: 0;
	margin-bottom: 0;*/
}

li a{
	background-color: #F3651D;
	text-align: center;
}

section{
	background-color: #FBE59B;
	margin: 0.5em 1em;
	padding: 0.5em 0.5em;
}

#chicken{
	background-color: #F1CF11;
}

#meat{
	background-color: #DD160A;
}

#fish{
	background-color: #2978EA;
}

h2{
	text-align: center;
	font-weight: bold;
}

.page-header h1{
	text-align: center;
	font-weight: bold;
}